<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Image Compressor and Retriever</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
    <header>
        <div class="jumbotron main">
                <h1 class="display-4 text-center" style="padding-top:0px: ">Google Image Compressor and Retriever</h1>
                  <div class="jumbotron">
                    <% include navbar.ejs  %>
